Source: rex-gearman
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 7),
                  rex,
                  perl (>= 5.10.0),
                  libjson-xs-perl
Standards-Version: 3.9.1
Homepage: http://rexify.org/

Package: rex-gearman
Architecture: all
Depends: ${misc:Depends},
            ${perl:Depends},
            rex (>= 0.32.0),
            libjson-xs-perl,
            libyaml-perl,
            libgearman-client-perl,
            gearman
Description: Distributed Rex with Gearman
